body {
  font-family: "Poppins", sans-serif;
}

#wrapper {
  position: relative;
  left: -100px;
}

.tank {
  border-radius: 100% / 25px;
  background: radial-gradient(50% 10px at 50% 10px, #0002 99.99%, #0000 0),
    radial-gradient(50% 10px at 50% calc(100% - 10px), #fff2 99.99%, #0000 0),
    #369dab;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#pufferTank {
  position: relative;
  z-index: 1;
  height: 250px;
  width: 250px;
  background-color: #a2b9e3;
}

.wt_lvl {
  top: -20px;
}

.sensor_wt_lvl_base {
  height: 20px;
  width: 50px;
  background-color: gray;
}

.sensor_wt_lvl_head1 {
  position: relative;
  left: -12px;
  height: 7px;
  width: 15px;
  background-color: lightsalmon;
}

.sensor_wt_lvl_head2 {
  position: relative;
  top: -7px;
  left: 12px;
  height: 7px;
  width: 15px;
  background-color: lightblue;
}

#tubePufferToActive1 {
  position: relative;
  top: 0px;
  left: 110px;
  width: 25px;
  height: 20px;
  background: #8baacd;
}

#tubePufferToActive2 {
  position: relative;
  top: 0px;
  left: 110px;
  width: 490px;
  height: 25px;
  background: #8baacd;
}

#activeTank {
  position: relative;
  z-index: 1;
  top: -60px;
  left: 600px;
  height: 200px;
  width: 140px;
  background-color: #f3e7b2;
}

#tubeAdditiveToActive1 {
  position: relative;
  top: -295px;
  left: 840px;
  height: 70px;
  width: 25px;
  background-color: #e89084;
}

#tubeAdditiveToActive2 {
  position: relative;
  top: -295px;
  left: 660px;
  height: 25px;
  width: 205px;
  background-color: #e89084;
}

#additiveTank {
  position: relative;
  z-index: 1;
  top: -520px;
  left: 802px;
  height: 130px;
  width: 100px;
  background-color: #f2b8a6;
  border-color: #f5c0ae;
}

#tubeActiveToClean1 {
  position: relative;
  top: -285px;
  left: 658px;
  width: 25px;
  height: 50px;
  background: #9ccd9b;
}

#tubeActiveToClean2 {
  position: relative;
  top: -310px;
  left: 250px;
  width: 410px;
  height: 25px;
  background: #9ccd9b;
}

#cleanTank {
  position: relative;
  z-index: 1;
  top: -380px;
  height: 250px;
  width: 250px;
  background-color: #9ccd9b;
}
