.slider {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.slider input[type="range"] {
  margin-bottom: 5px;
  width: 85%;
  align-self: center;
}

.slider span {
  text-align: center;
}
