body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.naviField {
  height: 65px;
  width: 100%;
  background-color: #4caf50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.naviButtonBox {
  display: flex;
}

.naviButton {
  display: block;
  position: relative;
  text-decoration: none;
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #66bb6a;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.naviButton:hover {
  background-color: #5fa85c;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.naviButton.active {
  background-color: #388e3c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.link {
  color: white;
}

.link:hover {
  text-decoration: underline;
}

.list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.listItem {
  margin-left: 20px;
  color: white;
  cursor: default;
}

#avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
