body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.naviField {
  height: 65px;
  width: 100%;
  background-color: #4caf50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#naviFieldLeft {
  display: flex;
  /* border: 1px solid red; */
  flex-direction: row;
  align-items: center;
  height: 65px;
}

#navbarTitle {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: whitesmoke;
  text-decoration: none;
}

#naviFieldRight {
  display: flex;
  flex-direction: row;
  height: 65px;
}

#settingsButton {
  padding: 0%;
  text-align: center;
  height: 40px;
  width: 40px;
  background-color: #66bb6a;
  color: white;
  border-radius: 50%;
}

.naviButton {
  display: block;
  position: relative;
  text-decoration: none;
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #66bb6a;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.naviButton:hover {
  background-color: #5fa85c;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.naviButton.active {
  background-color: #388e3c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.listItem {
  margin-left: 20px;
  cursor: pointer;
}

#avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

#popup {
  position: absolute;
  top: 60px;
  right: 20px;
  width: 250px;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 100;
}

#popupTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.popupList {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 5px;
}

.popupItem {
  font-size: 14px;
  margin-bottom: 10px;
}

#popupButtons {
  justify-content: center;
  align-items: center;
}

.popupButton {
  background-color: #66bb6a;
  color: white;
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.popupButton:hover {
  background-color: #5fa85c;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
