/* Általános beállítások */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* naviField konténer */
.naviField {
  height: 65px;
  width: 100%;
  background-color: #4caf50; /* Szín: zöld */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo beállítások */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  flex-direction: ;
}

/* Linkek */
.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: underline;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.listItem {
  margin-left: 20px;
  color: white;
  cursor: pointer;
}
